export(bcgVaccineData)
export(boxBias)
export(boxByConfidence)
export(boxByMethod)
export(boxByType)
export(boxMSE)
export(boxSD)
export(cbbPalette)
export(cbgPalette)
export(collectAllExperiments)
export(collectExperiments)
export(designB)
export(designD)
export(designY)
export(dvec)
export(experimentD)
export(experimentY)
export(formulaL)
export(formulaR)
export(hConfidence)
export(hEstimates)
export(intervalEstimates)
export(joinPivotalCoefficients)
export(joinPivotalHeterogeneity)
export(lenBoxByMethod)
export(lenBoxByType)
export(lenDenByMethod)
export(lenDenByType)
export(makeConfInt)
export(makeConfInts)
export(metagen)
export(metagenEmpty)
export(metagenGeneralised)
export(metareg)
export(performance)
export(performanceConfH)
export(performanceConfR)
export(performancePointH)
export(performancePointR)
export(pfunc)
export(pivotalStream)
export(plotCoefficientInterval)
export(plotDensityH)
export(plotDensityH2)
export(plotDensityIntercept)
export(plotDensityIntercept2)
export(plotDensitySlope)
export(plotDensitySlope2)
export(plotHeterogeneityInterval)
export(plotIntervalEstimates)
export(plotStudyForest)
export(plotStudyQfuncPfunc)
export(plotStudySizes)
export(plotStudyUnbalance)
export(qfunc)
export(rB)
export(rBinomGauss)
export(rD)
export(regressionEstimates)
export(render)
export(renderSVG)
export(rY)
export(sctBias)
export(sctMSE)
export(sctSD)
export(sctVersusC)
export(sctVersusH)
export(sdmByMethod)
export(sdmByType)
export(sdsByMethod)
export(sdsByType)
export(setupExperiment)
export(yvec)
import(BatchExperiments)
import(BatchJobs)
import(BBmisc)
import(ggplot2)
import(lhs)
import(MASS)
import(metafor)
import(ParamHelpers)
import(plyr)
